@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  background: #000;
  color: #fff;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
.disabled {
  color: #ccc; /* Change the color to grey */
  cursor: not-allowed; /* Change the cursor to not-allowed */
}